@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

:root {
  --accent: #3a5a40;
  --accent-hover: #9fc9a7a6;
  --accent-soft: #739464;  
  --accent-soft-transparent: #aecda050;   
  --accent-soft-hover: #54624ec3;
  --neutral-black: rgb(23 23 23);
}